ul, ol {
    border: 1px solid;
    width: 200px;
  }
  
  ul li {
    background-color: lightgreen;
  }
  
  ol li {
    background-color: skyblue;
    color: white;
  }
  
  ul > h2 {
    text-decoration: underline wavy 3px brown;
  }
  
  ol > h2 {
    text-decoration: underline dotted 3px indigo;
  }